.component12 {
  height: 789px;
}

.component12 .container {
  padding-top: 100px;
}

.component12 .visual {
  width: 170px;
  height: 100%;
  background-color: #cccccc;
}

.component12 .box {
  min-width: 385px;
  height: 200px;
  gap: 14px;
}

.component12 i {
  line-height: 30px;
  font-size: 15px;
  margin-right: 6px;
}

.component12 h5 {
  margin-bottom: 19px;
}

.component12 h6 {
  position: relative;
  bottom: 7px;
  left: 6px;
}

.component12 .description>div {
  position: relative;
  bottom: 1px;
  left: 7px;
}

.component12 .inner-2 {
  flex-wrap: wrap;
  width: 1273px;
  gap: 14px;
  margin-left: 330px;
}

.component12 .inner-1 {
  text-align: center;
  padding-left: 28px;
  margin-bottom: 48px;
}

.component12 .inner-2 .box:nth-child(1),
.component12 .inner-2 .box:nth-child(2),
.component12 .inner-2 .box:nth-child(3) {
  margin-bottom: 37px;
}

.component12 .visual {
  transition: all 0.2s ease-out;
}

.component12 .visual:hover {
  background-color: var(--dark-grey-secondary);
  cursor: pointer;
}

@media only screen and (max-width: 1919px) {
  .component12 .inner-2 {
    margin-left: unset;
    margin: 0 auto;
  }

  .component12 .inner-1 {
    padding-left: unset;
  }
}

@media only screen and (max-width: 1292px) {
  .component12 br {
    display: none;
  }

  .component12 {
    padding-bottom: 41px;
    height: unset;
  }

  .component12 .inner-2 {
    width: unset;
    gap: 40px;
  }

  .component12 .box {
    min-width: unset;
    flex-basis: 33.3%;
  }

  .component12 h6,
  .component12 .description>div {
    position: static;
  }

  .component12 .visual {
    min-width: 40%;
  }

  .component12 .inner-1 p {
    padding: 0 99px;
  }

  .component12 .inner-2 .box:nth-child(1),
  .component12 .inner-2 .box:nth-child(2),
  .component12 .inner-2 .box:nth-child(3) {
    margin-bottom: unset;
  }
}

@media only screen and (max-width: 1024px) {
  .component12 h6 {
    font-size: 15px;
  }

  .component12 span {
    font-size: 13px;
  }

  .component12 .box {
    flex-basis: 70%;
  }

  .component12 .visual {
    min-width: unset;
    width: 35%;
  }

  .component12 .description {
    flex-basis: 64%;
  }
}

@media only screen and (max-width: 768px) {
  .component12 .container {
    padding-top: 39px;
    padding-bottom: 131px;
  }

  .component-12 .inner-1 p {
    padding: 0px 23px;
  }

  .component12 .inner-2 {
    width: unset;
    gap: 145px;
  }

  .component12 .visual {
    width: unset;
  }
}