.component6 {
  height: 540px;
  text-align: center;
  padding-top: 104px;
}

.component6 h5 {
  padding-left: 19px;
  margin-bottom: 24px;
}

.component6 .inner-1 {
  margin-bottom: 44px;
}

.component6 .inner-1 p {
  padding-left: 18px;
}

.component6 .box-1 h6 {
  padding-left: 3px;
}

.component6 .box-2 h6 {
  padding-left: 9px;
}

.component6 .box-3 h6 {
  padding-left: 10px;
}

.component6 .box-4 h6 {
  padding-left: 17px;
}

.component6 .box {
  justify-content: flex-start;
  flex-grow: 1;
  border: 1px solid #ecf0f1;
  padding-top: 146px;
  padding-left: 9px;
  height: 301px;
  position: relative;
  transition: all 0.2s ease-out;
}

.component6 .box img {
  position: absolute;
  top: 15.5%;
  left: 46.5%;
}

.component6 .box h6 {
  margin-bottom: 14px;
}

.component6 .box-2 p {
  padding-left: 7px;
}

.component6 .box-3 p {
  padding-left: 11px;
}

.component6 .box:hover {
  background-color: var(--light-grey-color);
  cursor: pointer;
  transform: translateY(-3px);
}

@media only screen and (max-width: 1280px) {
  .component6 {
    height: unset;
    padding: 60px;
  }

  .component6 h5,
  .component6 .inner-1 p {
    padding-left: unset;
  }

  .component6 .box {
    padding-left: unset;
    height: unset;
  }

  .component6 .box img {
    position: absolute;
    top: 15.5%;
    left: 46.5%;
  }

  .component6 .box img {
    position: absolute;
    top: 15.5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .component6 .box-4 h6 {
    padding-left: unset;
  }

  .component6 .box {
    padding: 146px 10px 8px;
  }
}

@media only screen and (max-width: 1024px) {
  .component6 .inner-2 {
    flex-wrap: wrap;
  }

  .component6 .inner-2 .box {
    flex-basis: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .component6 .inner-2 {
    flex-direction: column;
  }

  .component6 h5 {
    line-height: unset;
  }

  .component6 {
    padding: 59px 27px;
  }
}