.component6{
    background-color: white;
    height: 534px;
    width: 1920px;
    position: relative;
}

.ourservices{
    background-color: transparent;
    height: 145px;
    top: 50px;
    left: 640px;
    width: 631px; 
    position: absolute;
}

.ourservices1{
    background-color: transparent;
    height: 50px;
    letter-spacing: 0.00px;
    line-height: 20px;
    position: absolute;
    right: calc(49.61% - 99px);
    text-align: center;
    top: 50px;
    white-space: nowrap;
    width: 200px;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2C3E50;
}
.ourservices2{
    background-color: transparent;
    top: 100px;
    height: 84px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    width: calc(100.00% + 2px);
    color: #A1B1BC;
    font-size: 14px;
    font-weight: 400;
}

.iconn1{
    background-color: transparent;
    bottom: 0px;
    height: 381px;
    left: 0px;
    position: absolute;
    width: 480px;
}

.iconrectangle1{
    background-color: white;
    height: calc(100.00% - 81px);
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.natura{
    background-color: transparent;
    height: 57px;
    position: absolute;
    right: calc(50.00% - 20px);
    top: 47px;
    width: 40px;
}

.natura1{
    background-color: transparent;
    height: 100%;
    left: 0px;
    position: relative;
    top: 90px;
    width: 100%;
    
}

.natura1 img{
    width: 40px;
    height: 57px;
}

.graphicdes{
    background-color: transparent;
    height: 26px;
    letter-spacing: 0.00px;
    line-height: 24px;
    position: absolute;
    right: calc(49.59% - 64px);
    text-align: center;
    top: 95px;
    white-space: nowrap;
    width: 130px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.graphicdes1{
    background-color: transparent;
    height: 195.08px;
    width:339.58px ;
    margin-top: 70px;
    letter-spacing: 0.00px;
    line-height: 24px;
    text-align: center;
    margin-left: -151px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
     color:#A1B1BC ;
}


.iconn2{
    background-color: transparent;
    bottom: 0px;
    height: 381px;
    left: 481px;
    position: absolute;
    width: 480px;
}

.iconn2 img{
    left: 50%;
    top: 50%;
    width: 116px;
    height: 81px;

}

