:root {
  --dark-grey-color: #222533;
  --dark-grey-secondary: #2c3e50;
  --medium-grey-color: #a1b1bc;
  --medium-grey-secondary: #34495e;
  --light-grey-color: #ecf0f1;
  --light-grey-secondary: #eaebec;
  --main-green-color: #1abc9c;
}

.position-cenering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}

.flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.center {
  margin: 0 auto;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50;
  transform: translate(-50%, -50%);
}

.transition {
  transition: all 0.2s ease-out;
}

/* font-sizes */

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.font-30 {
  font-size: 30px;
}

.font-36 {
  font-size: 36px;
}

.font-48 {
  font-size: 48px;
}

.font-60 {
  font-size: 60px;
}

/* colors */

.background-green {
  background-color: var(--main-green-color);
}

.color-green {
  color: var(--main-green-color);
}

.color-secondary-grey {
  color: var(--dark-grey-secondary);
}

.color-medium-grey {
  color: var(--medium-grey-color);
}

.background-medium-grey {
  background-color: var(--medium-grey-color);
}

.background-light-grey {
  background-color: var(--light-grey-color);
}

.background-medium-secondary {
  background-color: var(--medium-grey-secondary);
}

.color-light-grey {
  color: var(--light-grey-color);
}

.color-white {
  color: #fff;
}

.green-table {
  color: #7bc200;
}

.red-table {
  color: #ef584d;
}

.background-gradient {
  background: linear-gradient(45deg, #1dd1ad, #45d0ff);
}

/* line-heights */

.line-height-19 {
  line-height: 19px;
}

.line-height-20 {
  line-height: 20px;
}

.line-height-21 {
  line-height: 21px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-27 {
  line-height: 27px;
}

.line-height-30 {
  line-height: 30px;
}

.line-height-36 {
  line-height: 36px;
}

.line-height-40 {
  line-height: 40px;
}